
<footer class="main-footer">
  <strong>Copyright &copy; 2020 <a href="http://adminlte.io">Pemerintah Kabupaten Bandung</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> BETA
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
