<app-landing-navbar></app-landing-navbar>
<app-landing-sidebar></app-landing-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1>Pengaduan</h1>
        </div>
        <div class="col-sm-12">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Pengaduan</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">Form</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form>
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">NIK</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nama Lengkap</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Nomor Telepon</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Lokasi</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label>Kategori</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">- Pilih Kategori -</option>
                  <option *ngFor="let k of listKategori" value="{{k.idKategoriPengaduan}}">{{k.namaKategoriPengaduan}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Kecamatan</label>
                <select class="form-control select2kecamatan" style="width: 100%;" (change)="getDesaKelurahan()">
                  <option selected="selected">- Pilih Kecamatan -</option>
                  <option *ngFor="let k of listKecamatan" value="{{ k.idKecamatan }}" [disabled]="form?.get('idKecamatan')?.valid">{{k.namaKecamatan}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Desa / Kelurahan</label>
                <select class="form-control select2desakelurahan" style="width: 100%;">
                  <option selected="selected">- Pilih Desa / Kelurahan -</option>
                  <option *ngFor="let dk of listDesaKelurahan" value="{{ dk.idDesaKelurahan }}">{{ dk.namaDesaKelurahan }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Deskripsi</label>
                <textarea class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text">Upload</span>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

      </div>
      <!--/.col (left) -->
      <!-- right column -->

    </div>

  </section>
  <!-- /.content -->
</div>
<app-landing-footer></app-landing-footer>
