<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link">
    <img src="../../../../../assets/logo.png" alt="AdminLTE Logo" class="brand-image"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Pengaduan</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fa fa-home"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/pengaduan" class="nav-link">
            <i class="nav-icon fa fa-flag"></i>
            <p>
              Pengaduan
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/admin-page/dashboard" class="nav-link">
            <i class="nav-icon fa fa-user"></i>
            <p>
              Petugas
            </p>
          </a>
        </li>
        <!-- <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>
              Agen
              <i class="fas fa-angle-right right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/form-karyawan" class="nav-link">
                <i class="fa fa-plus nav-icon"></i>
                <p>Input Agen</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                <i class="fa fa-list nav-icon"></i>
                <p>Data Agen</p>
              </a>
            </li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
