
<app-admin-navbar></app-admin-navbar>
<app-admin-sidebar></app-admin-sidebar>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Contacts</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Contacts</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
          <tr>
            <th>NIK</th>
            <th>Nama Lengkap</th>
            <th>Lokasi</th>
            <th>Kategori</th>
            <th>Kecamatan</th>
            <th>Desa/Kelurahan</th>
            <th>Tanggal</th>
            <th>Status</th>
            <th>Aksi</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of listPengaduan">
            <td>{{ p.nik }}</td>
            <td>{{ p.namaLengkap }}</td>
            <td>{{ p.lokasiAduan }}</td>
            <td>{{ p.namaKategoriPengaduan }}</td>
            <td>{{ p.namaKecamatan }}</td>
            <td>{{ p.namaDesaKelurahan }}</td>
            <td>{{ p.tanggal | date : 'EEEE, d MMMM y, hh:mm' }}</td>
            <td>
              <span class="badge badge-success" *ngIf=" p.status  == '2'">Selesai</span>
              <span class="badge badge-warning" *ngIf=" p.status  == '1'">Belum Selesai</span>
            </td>
            <td>
              <button type="button" class="btn btn-success btn-sm" *ngIf=" p.status  == '1'"><i class="fa fa-check"></i></button>
              <button type="button" class="btn btn-danger btn-sm" *ngIf=" p.status  == '2'"><i class="fa fa-times"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
    <!-- /.content -->
  </div>
<app-admin-footer></app-admin-footer>
