
<br><br>
<div class="row">
  <div class="col-md-12">
    <section class="my-5">
      <form [formGroup]="registerForm" (ngSubmit)="saveUser()">
        <div class="form-group">
          <label>Username :</label>
          <input type="text" class="form-control" id="username" formControlName="username" placeholder="ID">
          <span *ngIf="!registerForm?.get('username')?.valid && registerForm?.get('username')?.touched" class="help-block">
                    Username Wajib Diisi
                    </span>
        </div>
        <div class="form-group">
          <label>Password :</label>
          <input type="password" class="form-control" id="password" formControlName="keyword" placeholder="Nama Albums">
          <span *ngIf="!registerForm?.get('keyword')?.valid && registerForm?.get('keyword')?.touched" class="help-block">
                    Password Wajib Diisi
                    </span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </div>
</div>
