<div class="album py-5 bg-light">
  <div class="container">
    <form class="form-signin"><br><br>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label class="sr-only">Email address</label>
      <input type="text" id="username" #username class="form-control" placeholder="username" >
      <label class="sr-only">Password</label>
      <br>
      <input type="password" id="Password" #password class="form-control" placeholder="password" required>
      <br>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button (click)="onLogin(username, password)" class="btn btn-lg btn-primary btn-block">Sign in</button>
      <br>
      <p class="mt-5 mb-3 text-muted">&copy; Pemerintah Kabupaten Bandung 2021</p>
    </form>

  </div>
</div>
