<app-admin-navbar></app-admin-navbar>
<app-admin-sidebar></app-admin-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Lingkungan Hidup dan Tata Ruang</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Pengambilan Data</li>
            <li class="breadcrumb-item active">Lingkungan Hidup dan Tata Ruang</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <input type="file" class="form-control" id="importFile"
               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel.sheet.macroEnabled.12"
               style="width:300px" />
      </div>

      <!-- Sheet tabs -->
      <ul *ngIf="workbook" class="nav nav-tabs" style="margin-top:40px">
        <li role="presentation" *ngFor="let sheet of workbook.sheets; let i = index"
            [ngClass]="{ active: i == sheetIndex }">
          <a href="#" (click)="tabClicked($event, i)">{{sheet.name}}</a>
        </li>
      </ul>

      <!-- Current sheet view -->
      <div id="tableHost"></div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<app-admin-footer></app-admin-footer>
