<app-landing-navbar></app-landing-navbar>
<app-landing-sidebar></app-landing-sidebar>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-md">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">BAPPEDA Fisik Kabupaten Bandung</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-md">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-6 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>Pengaduan</h3>
              <p>&nbsp;</p>
            </div>
            <div class="icon">
              <i class="ion ion-flag"></i>
            </div>
            <a routerLink="/pengaduan" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>Petugas</h3>
              <p>&nbsp;</p>
            </div>
            <div class="icon">
              <i class="ion ion-person"></i>
            </div>
            <a routerLink="/admin-page/dashboard" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-landing-footer></app-landing-footer>
